#include <windows.h>
#include "resource.h"


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//
MYMENU MENU DISCARDABLE 
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "書き込み(&W)",                IDM_WRITE
        MENUITEM SEPARATOR
        MENUITEM "終了(&X)",                    IDM_END
    END
    POPUP "オプション(&O)"
    BEGIN
        MENUITEM "カスタムドロー(&C)",          IDM_CUSTOM
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//
MYDLG DIALOG DISCARDABLE  0, 0, 187, 93
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "入力用ダイアログ"
FONT 9, "ＭＳ Ｐゴシック"
BEGIN
    EDITTEXT        IDC_EDIT1,64,7,116,17,ES_AUTOHSCROLL
    CONTROL         "男",IDC_RADIO1,"Button",BS_AUTORADIOBUTTON,66,29,23,10
    CONTROL         "女",IDC_RADIO2,"Button",BS_AUTORADIOBUTTON,95,29,23,10
    EDITTEXT        IDC_EDIT2,64,45,116,17,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "追加書き込み",IDOK,7,72,50,14
    PUSHBUTTON      "閉じる",IDCANCEL,130,72,50,14
    LTEXT           "氏名",IDC_STATIC,22,13,15,8
    LTEXT           "性別",IDC_STATIC,23,33,15,8
    LTEXT           "住所",IDC_STATIC,23,50,15,8
END

